[submodule "Libraries/Platinum.PluginCore3"]
	path = Libraries/Platinum.PluginCore3
	url = https://github.com/0xFireball/Platinum.PluginCore3
[submodule "Libraries/dnlib"]
	path = Libraries/dnlib
	url = https://github.com/0xFireball/dnlib.git
